.auth {
    max-width: 400px;
    min-height: 700px;
    margin: 0 auto;
    padding: 10vh 0;

    &__header {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 30px;
        font-size: 20px;
        display: flex;
        justify-content: center;

        span {
            cursor: pointer;
        }

        span:first-child {
            margin-right: 30px;
        }

        .selected {
            border-bottom: 1px solid $red;
        }

    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
    }


    &__input {
        padding: 10px 8px;
        margin: 5px 0px;
        font-size: 20px;
        border-radius: 10px;
        border: 1px solid #E6E6E6;
    }

    &__input:focus {
        border-color: $red;
    }

    button {
        width: 100%;
        margin-top: 30px;
        font-size: 20px;
    }

    option {
        padding: 10px 8px;
        border: 1px solid red;
    }

    .disabled {
        opacity: .4;
        pointer-events: none;
    }

}