@import 'variables';
@import 'libs/normalize';
@import 'components/all';

body {
  background-color: $background;
}

.icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.not-valid {
  color: #E6808A !important;
  display: flex;
  max-width: 400px;
  flex-direction: column;
}

.wrapper {
  max-width: 1440px;
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 20px;

}

.container {
  width: $container-width;
  margin: 20px auto;
  padding: 0px;
  min-height: 50vh;
}