@import 'scss/variables';

.header {
    padding: 40px;
    border-bottom: 1px solid $gray-line;


    .logo {
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        user-select: none;

        .gray {
            color: $black;
            transition: $duration;
            text-align: center;
        }

        .red {
            color: $red;
            transition: $duration;
            text-align: center;
        }

        &:hover {
            .gray {
                color: $red;
                transition: $duration;
            }

            .red {
                color: $black;
                transition: $duration;
            }
        }
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon {
            cursor: pointer;
            width: 2em;
            margin: 0 20px;
            border-bottom: 2px solid transparent;
            transition: $duration;

            &_small {
                width: 1.5em;
            }

            &:hover {
                border-bottom: 2px solid $red;
                border-radius: 8px;
                transition: $duration;
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
    }
}